<div class="container">
  <h1>My web journey </h1>
  <p>I could probably develop a web application with my eyes closed... but I won't, because I like to see what I'm doing!...</p>
  <%= link_to "About", about_path %>

</div>
